section{
    background: transparent !important;
    .form-check{
        background: transparent !important;
        border: none;
    }
    .list-group-item{
        background: transparent !important;
        border: none;
    }
}

